# Dependências do Node
node_modules/
npm-debug.log

# Logs
logs
*.log
npm-debug.log*
debug.log*
*.lock

# Arquivos de ambiente
.env
.env.test
.env.local

# Build e cache
dist/
build/
.cache/
tmp/
*.tsbuildinfo

# IDEs e editores
.vscode/
.idea/
*.iml

# Sistema Operacional
.DS_Store
Thumbs.db